/* stylesheet */

h1
{
margin-top: 40px;
text-align: center;
font-family: 'Mate', serif;
}

h2
{
margin-top: 25px;
font-family: 'Mate', serif;
}

h3
{
  font-family: 'Hind Madurai', sans-serif;
  font-size: 15px;
}

body
{
  display: flex;
  flex-direction: column;
  background-color: #d5d5d5; /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accessed 24/11/2016]*/
  height: 100%;
  width: 100;
  font-family: 'Hind Madurai', sans-serif;

}

.header
{
  margin: -10px;
  height: 70px;
  width: 1400px;
  background-color: #96858f;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accesses 24/11/2016]*/
}

.UL
{
list-style-type: none;
padding: 0;
}
/*.UL code
W3Schools (2016) Website navigation bars. W3Schools.com [online] Available from: http://www.w3schools.com/css/css_navbar.asp [Accessed 25/11/16]*/
nav
{
  float:left;
  margin-left: 30;
  margin-top: 30;
}

li
{
float: left;
margin-left: 30;
margin-top: 10;

}
/*.li code
W3Schools (2016) Website navigation bars. W3Schools.com [online] Available from: http://www.w3schools.com/css/css_navbar.asp [Accessed 25/11/16]*/


li a {
    justify-content: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Mate', serif;
}
/*.li a code
W3Schools (2016) Website navigation bars. W3Schools.com [online] Available from: http://www.w3schools.com/css/css_navbar.asp [Accessed 25/11/16]*/

/* Change the link color to #565656 (black) on hover */
li a:hover {
    background-color: #565656;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accessed 24/11/2016]*/
}
/*.li a:hover code
W3Schools (2016) Website navigation bars. W3Schools.com [online] Available from: http://www.w3schools.com/css/css_navbar.asp [25/11/16]*/
.active {
    background-color: #565656;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accessed 24/11/2016]*/
}

.indexphoto-center
{
  display: block;
  margin: 0px auto;
}

.biophoto
{
  float: right;
  display: block;
  margin: 0px auto;
}
.footer
{
  align-items: baseline;
  margin: -10px;
  height: 40px;
  width: 1400px;
  background-color: #96858f;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accessed 24/11/2016]*/
  text-align: center;
}

.footerwriting
{
  font-family: 'Mate', serif;
  color: white;
  text-align: left;
  margin-left: 30;
  font-size: 15px;
}


.left-column
{
  width: 3%;
  height: 1080px;
  float: left;
  background-color: #565656;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accessed 24/11/2016]*/
  margin-left: -10px;
  margin-top: 9px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.left-column1
{
  width: 3%;
  height: 630px;
  float: left;
  background-color: #565656;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accessed 24/11/2016]*/
  margin-left: -10px;
  margin-top: 9px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.left-column2
{
  width: 3%;
  height: 550px;
  float: left;
  background-color: #565656;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accesses 24/11/2016]*/
  margin-left:-10px;
  margin-top: 9px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.left-column3
{
  width: 3%;
  height: 600px;
  float: left;
  background-color: #565656;  /*Canva (2016) Website Color Schemes. Cannva Learn[Online] Available form: https://designschool.canva.com/blog/website-color-schemes/ [Accesses 24/11/2016]*/
  margin-left:-10px;
  margin-top: 9px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.cvbar
{
  font-family: 'Hind Madurai', sans-serif;
  color: white;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
}

.list
{
  float: center;
}

.cvwriting
{
  text-align: center;
}

.title
{
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

.submit
{
  text-align: right;
}

fieldset
{
  width: 350px;
  border: 1px solid #565656;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
  margin-left: 50px;
}

legend
{
  background-color: #565656;
  color: white;
  border: 1px solid #565656;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}

/*css design for forms Duckett, J, (2011) HTML & CSS Design and build websites,United states of America and Canada, John Wiley and Sons, inc. */





/* media queries */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}
