/* classes */

h1
{
margin-top: 40px;
text-align: center;
font-family: 'Mate', serif;
}

h2
{
margin-top: 25px;
font-family: 'Mate', serif;
}

h3
{
  font-family: 'Hind Madurai', sans-serif;
  font-size: 15px;
}

body
{
  display: flex;
  flex-direction: column;
  background-color: #d7cec7;
  height: 100%;
  width: 100;
  font-family: 'Hind Madurai', sans-serif;

}

.header
{
  margin: -10px;
  height: 70px;
  width: 1400px;
  background-color: #76323f;
}

.UL
{
list-style-type: none;
padding: 0;
}

nav
{
  float:left;
  margin-left: 30;
  margin-top: 30;
}

li
{
float: left;
margin-left: 30;
margin-top: 10;

}



li a {
    justify-content: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Mate', serif;
}

/* Change the link color to #565656 (black) on hover */
li a:hover {
    background-color: #565656;
}

.active {
    background-color: #565656;
}

.indexphoto-center
{
  display: block;
  margin: 0px auto;
}

.footer
{
  align-items: baseline;
  margin: -10px;
  height: 20px;
  width: 1400px;
  background-color: #76323f;
  text-align: center;
}


.left-column
{
  width: 20%;
  height: 1000px;
  float: left;
  background-color: #c09f80;
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}


.cvbar
{
  font-family: 'Mate', serif;
  color: white;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
}

.contactphoto
{
  display: flex;
  flex-direction: column;
}

.list
{
  float: center;
}
